.satar {
  display: flex;
  direction: rtl;
  align-items: center;
  height: fit-content;
}

.satar-body {
  display: flex;
  width: 100%;
  height: fit-content;
}

.satar-name {
  font-size: 30px;
  width: 130px;
  height: 40px;
  font-family: noori;
  padding-right: 20px;
  align-self: center;
}
