@font-face {
  font-family: "noori";
  src: local("noori"), url(./fonts/noori.ttf) format("truetype");
}

@font-face {
  font-family: "noori-kashida";
  src: local("noori-kashida"), url(./fonts/noori-kashida.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: noori;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: noori;
}
