.mustehsila-body {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(216, 216, 216)
  );
}

.react-select {
  width: fit-content;
  align-self: flex-start;
  font-size: xx-large;
  margin-left: 2px;
  container: ;
}

.result-holder {
  display: flex;
  margin-right: 140px;
  margin-top: 5px;
}

.options {
  display: flex;
  margin-right: 140px;
  margin-top: 5px;
}
