.mustehsila-body {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  height: auto;
  overflow-x: scroll;
}

.react-select {
  width: fit-content;
  align-self: flex-start;
  font-size: xx-large;
  margin-left: 2px;
  container: ;
}

.result-holder {
  display: flex;
  margin-right: 125px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.options {
  display: flex;
  margin-right: 140px;
  margin-top: 5px;
}
